/* Anytime that you add padding to any element, what can happen is that padding
will stretch the page.
So let's say that you had a page that was 100 percent of The View ports with.
And if you added padding to something, it would make that more than one hundred percent and it would
force a horizontal scrollbar.
So what this does is it prevents that from happening because it prevents padding from adding extra width
or extra height to the page. */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
